.step-button {
    display: flex;
    width: 100%;
    max-width: 100%;
    min-height: 2rem; 
    padding: 0.5rem 1rem; 
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border-radius: 3.125rem;
    border: none;
    background: var(--Green-500, color(display-p3 0.0078 0.7843 0.0118));
    box-sizing: border-box;
    font-size: 0.75rem;
    color: white;
    font-family: "Montserrat Regular";
    transition: all 0.2s ease; 
    text-transform: uppercase;
    cursor: pointer; 
}

.step-button:hover {
    background: var(--Green-500, color(display-p3 0.0039 0.5608 0.0078));
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(30, 255, 0, 0.3);
}

.step-button:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(43, 255, 0, 0.2);
}

.step-button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.btn {
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.5rem;
    text-align: center;
    font-family: "Montserrat Regular";
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.btn--large {
    width: 100%;
    max-width: 100%;
}

.btn--secondary {
    border: none;
    border-radius: 3.125rem;
    background: var(--White, color(display-p3 1 1 1));
    color: var(--Green-500, color(display-p3 0.0931 0.7596 0.3042));
    font-size: 0.875rem;
    width: auto;
    padding: 0.5rem 2rem;
    font-family: "Montserrat Bold";
    text-transform: uppercase;
}

.btn--secondary:hover {
    background: var(--Green-500, color(display-p3 0.0931 0.7596 0.3042));
    color: var(--White, color(display-p3 1 1 1));
    transition: background-color 0.3s ease;   
}

.btn--tertiary {
    border: 2px solid var(--Blue-700, color(display-p3 0 0.3204 0.6202));
    background: #FFF;
    background: color(display-p3 1 1 1);
    color: #05A;
}

.btn--tertiary:hover {
    background: var(--Blue-700, color(display-p3 0 0.3204 0.6202));
    color: var(--White, color(display-p3 1 1 1));
}

.btn--fourthary {
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 3.25rem;
    align-self: stretch;
    font-family: "Montserrat Regular";
    background: transparent;
    background: color(display-p3 1 1 1 / 0.10);
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.80);
    border: 1px solid color(display-p3 1 1 1 / 0.80);
    color: #FFF;
}

.btn-chat-text {
    font-family: "Montserrat Bold";
    flex: 1;
    text-align: left;
}

.btn-chat-icons {
    display: flex;
    gap: 0.5rem;
}

.btn-chat-icons img {
    height: 2rem;
    width: auto;
    display: block;
}

.btn--fifthtary {
    display: flex;
    padding: 0.75rem 3rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 3.125rem;
    border: none;
    background: #FFF;
    color: #00C2D3;
    text-align: center;
    font-family: "Montserrat Bold";
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.btn--sixthtary.selected-travel-btn {
    background: #E67E22;
    color: #fff;
    border-color: #E67E22;
    box-shadow: 0 2px 8px rgba(230, 126, 34, 0.15);
    transform: scale(1.03);
}

.btn--sixthtary {
    transition: all 0.2s;
    cursor: pointer;
    border-radius: 0.75rem;
    border: 2px solid #E67E22;
    background: #fff;
    color: #E67E22;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-family: "Montserrat Bold";
}

.btn--sixthtary:hover {
    background:  #E67E22;
    color: #fff;
    border-color: #E67E22;
}


@media (max-width: 1024px) {
    .step-button {
        height: 3rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
        gap: 0.3rem;
    }
}
@media (max-width: 768px) {
    .btn--secondary {
    background: var(--Green-500, color(display-p3 0.0931 0.7596 0.3042));
    color: #FFF;
    font-size: 0.875rem;
    width: auto;
    padding: 0.5rem 2rem;
    font-family: "Montserrat Bold";
    text-transform: uppercase;
    }

    .btn--secondary:hover {
        transition: background-color 0.3s ease;   
    }
    
    .step-button {
        height: 2.8rem;
        padding: 0.7rem 1.4rem;
        font-size: 0.9rem;
        gap: 0.3rem;
    }
}

@media (max-width: 480px) {
    .step-button {
        height: 1.7rem;
        padding: 0.6rem 1.2rem;
        font-size: 0.85rem;
    }
}

@media (max-width: 375px) {
    .btn--sixthtary{
        padding: 0.5rem 1rem;
        height: 2.2rem;
        margin-bottom: 0;
    }
    .step-button {
        height: 2.3rem;
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        gap: 0.2rem;
    }
}
