.input-text {
    display: flex;
    height: 3rem;
    width: 100%;
    max-width: 100%; 
    padding: 0.75rem 1rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 0.5rem;
    border: 1px solid var(--Grey-30, #ABB5BE);
    border: 1px solid var(--Grey-30, color(display-p3 0.6851 0.7077 0.7376));
    backdrop-filter: blur(17.5px);
    box-sizing: border-box; 
}

.input-text:focus {
    outline: none;
    border-color: #FF9B00;
}

@media (max-width: 768px) {
    .input-text {
        height: 4rem;
    }
}

@media (max-width: 720px) {
    .input-text {
        height: 2.7rem;
    }
}

@media (max-width: 480px){
    .input-text {
        height: 3rem;
    }
}

@media (max-width: 375px) {
    .input-text {
        height: 2rem;

    }
}

@media (max-height: 600px) and (max-width: 768px) {
    .input-text {
        height: 2.5rem;
    }
}